# environments
.venv/

# secrets
.env

# logs
logs/

# python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# vector databases
vector_store/

# uploaded files
data/raw/*
data/processed/*

# OS
.DS_Store
Thumbs.db