# environments
.venv/
env/

# secrets
.env
.streamlit/secrets.toml

# logs
logs/

# python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# vector databases
vector_store/
knowledge_base/

# uploaded files
data/raw/*
data/processed/*

# OCR outputs
temp_ocr/
temp_image.png

# OS
.DS_Store
Thumbs.db